@{
  Layout = null;
}

<h2>Login</h2>

@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
  <input type="text" name="username" placeholder="Usuário" autocomplete="username" />
  <input type="password" name="password" placeholder="Senha" autocomplete="current-password" />
  <button type="submit">Login</button>
}

<div style="background-color: #f8f9fa; border: 1px solid #d3d3d3; padding: 10px; margin-top: 15px; border-radius: 4px;">
  <strong>Demo Credentials:</strong>
  <ul style="margin: 5px 0 0 20px;">
    <li><b>User:</b> admin &nbsp; <b>Password:</b> 123</li>
    <li><b>User:</b> user &nbsp; <b>Password:</b> 123</li>
  </ul>
</div>

<p id="errorMsg" style="color:red"></p>

@Scripts.Render("~/bundles/jquery")

